 #reset{
    display: inline;
    height: 50px;
    width: 75px;
    align-self: right;



}
#Rock, #Paper, #Scissors {
 background-color: grey;
   cursor: pointer;
   display:inline;
    height: 100px;
    width: 150px;
    align-self: center;
    margin-left: 100px;
    margin-top: 25px;   
    color: white;   
    font-size:14px;
    font-weight:700;
}
#notificationTimer{
    display: block;
    align-self: left;
    font-size: 35px;
    margin-left: 250px;
    margin-top: 50px;
}



 button:hover  { 
 background-color: #33F9FF;

}
h1{
 	border-style: solid;
 	display:inline-block;
 	align-self: center;
  	margin-left: 425px;
    margin-top: 5px;   
     
}
body{
	background-color: #996633;
}
img{
	height: 450px;
    width: 450px;
    margin-left: 50px;
}
#notification{
    display: inline-block;
	height: 200px;
    width: 350px;
    align-self: top;
    margin-left: 50px;
    margin-top: 50px;   
    font-size: 40px;

}

.wizard-container {
    display: flex;
    justify-content: center;
    align-items: center;
}